msg.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmsoft.ru/mdm/exchange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="MessageID"/>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="GID"/>
                    <xs:element name="OuterCatalogs">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OuterCatalog">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="id"/>
                                <xs:element name="LIDs" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="LID"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Property" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="PropertyType"/>
                          <xs:element type="xs:string" name="PropertyID"/>
                          <xs:element type="xs:string" name="PropertyName"/>
                          <xs:element name="PropertyValue">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Type"/>
                                <xs:element name="Value">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="valueString" minOccurs="0"/>
                                      <xs:element type="xs:string" name="valueBoolean" minOccurs="0"/>
                                      <xs:element name="valueRef" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="GID" minOccurs="0"/>
                                            <xs:element type="xs:string" name="tableName" minOccurs="0"/>
                                            <xs:element type="xs:string" name="name"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:dateTime" name="valueDateTime" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="IdStatus"/>
                    <xs:element name="Version">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="Id"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>